---
layout: default
---
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="#">TMTR Creations</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="/" accesskey="1" title="">Homepage</a></li>
                <li><a href="/about_us" accesskey="2" title="">About Us</a></li>
                <li><a href="/blog" accesskey="3" title="">Blog</a></li>
                <li><a href="/projects" accesskey="4" title="">Projects</a></li>
                <li class="current_page_item"><a href="/contact_us" accesskey="5" title="">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>
{{ content }}

